<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>173884735070-5rq1sf2os41m9vcqc99vbo31cs035q37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173884735070-5rq1sf2os41m9vcqc99vbo31cs035q37</string>
	<key>API_KEY</key>
	<string>AIzaSyDciyzKzkF1hDafVy2R6ZnLvmRgBqYe-CM</string>
	<key>GCM_SENDER_ID</key>
	<string>173884735070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryanstanley.Pocket-Money</string>
	<key>PROJECT_ID</key>
	<string>pocket-money-7f39b</string>
	<key>STORAGE_BUCKET</key>
	<string>pocket-money-7f39b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173884735070:ios:3bd919305bc137a9</string>
	<key>DATABASE_URL</key>
	<string>https://pocket-money-7f39b.firebaseio.com</string>
</dict>
</plist>